@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-stone-200 p-3 font-sans
}

main {
  @apply bg-white p-5 max-w-3xl mr-auto ml-auto rounded-sm shadow
}

section {
  @apply pt-6
}

hr {
  @apply border-t-0 border-b border-slate-300 my-4
}

p {
  @apply mb-3
}

form {
  @apply max-w-lg
}

pre {
  @apply bg-slate-100 p-3 text-xs overflow-scroll
}

label {
  @apply block font-bold
}

[type='text'], textarea {
  @apply block rounded-sm border-slate-300 w-full
}

[type='submit'], .button {
  @apply font-bold inline-block py-1 px-6 bg-cyan-600 hover:bg-cyan-500 text-white rounded-full cursor-pointer
}

[type='submit']:disabled {
  @apply bg-slate-500
}

nav a {
  @apply font-bold inline-block py-1 px-6 bg-lime-600 hover:bg-lime-500 text-white rounded
}

nav .active {
  @apply bg-lime-500
}

.logo {
  @apply font-mono text-4xl mb-4
}

.screen {
  @apply py-4
}

.screen h2 {
  @apply text-2xl mb-3
}

.loading {
  @apply h-4 opacity-30 bg-center bg-contain bg-loader bg-no-repeat
}

.error {
  @apply text-red-600 font-bold text-sm
}

.success {
  @apply text-green-600 font-bold text-sm
}

.sub-nav {
  @apply text-sm text-slate-500 pt-2 pb-4
}

.sub-nav a {
  @apply underline
}