@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-200 p-3;
  }

  main {
    @apply bg-white p-5 max-w-3xl mr-auto ml-auto rounded-sm shadow;
  }

  nav {
    @apply font-bold;
  }

  nav a {
    @apply inline-block py-1 px-6 bg-lime-600 hover:bg-lime-500 text-white rounded-sm
  }

  nav a.active {
    @apply hover:bg-lime-500
  }
}

@layer components {
  .logo {
    @apply font-mono text-4xl mb-4;
  }
}