<h2>✍️ Create a Post</h2>
<p><strong>We love our authors!</strong> Create a new post below.</p>
<hr>
<form id="create-form">
  <p>
    <label for="title">Post title</label>
    <input type="text" id="title" name="title">
  </p>
  <p>
    <label for="content">Post content</label>
    <textarea id="content" name="content"></textarea>
  </p>
  <p id="create-form-errors" class="error"></p>
  <p>
    <input type="submit" id="create-form-submit" value="Publish">
  </p>
</form>
<p id="create-form-success" class="success"></p>